.model-parameter {
    margin-bottom: 15px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 1px;
    font: 20px sans-serif;
    background: lightsteelblue;
    border: 3px;
    border-radius: 8px;
    pointer-events: none;
}

canvas.main-world-grid {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
}

canvas.left-world-grid {
    position: absolute;
    padding: 10px;
}

canvas.right-world-grid {
    position: absolute;
    padding: 10px;
}

div.main-world-grid-parent {
    display: inline-grid;
    margin-top: 2860px;
    margin-left: 410px;
}

div.left-world-grid-parent {
    display: inline-grid;
}

div.right-world-grid-parent {
    margin-left: 5240px;
    margin-top: -1305px;
}

div.under-navbar {
    margin-top: 70px;
}